exportPattern("^[[:alpha:]]+")
importFrom(pracma, hampel)
importFrom(stringr, str_match)
importFrom(sqldf, sqldf)
importFrom(zoo, zoo, na.approx, coredata)
importFrom(lubridate, ymd_hms)
importFrom(lubridate, today)
importFrom(plyr, mutate)
importFrom(plyr, ldply)
importFrom(dplyr, filter)
